/* Стили для изображения шапки */
.header-img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* Стили для изменения размера иконок */
.selenium-icon {
    font-size: 3.5em;
}
.postman-icon {
    font-size: 3.5em;
}
.junit5-icon {
    font-size: 3.5em;
}
